<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Sirdmu">Siraj</a> A young web developer in training who is on a mission to gain the necessary technical skills to launch my own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    With the help of my profs and resources, I will obtain these skills and achieve my goals.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'siraj.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Siraj Umeya</h2>
      <br />
      <p>
        Siraj Umeya is a future web developer and is currently a bilingual IT support member for a cloud computing company.
      </p>
    </div>
  </div>  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />